html,
body {
  font-family: Overpass, sans-serif;
}
#map-canvas {
  height: 100%;
  width: 80%;
  position: absolute;
  right: 0%;
}
#text {
  height: 100%;
  width: 15%;
  position: absolute;
  left: 0%;
  padding: 50px;
}
